<p class="p"><b>New blog</b></p>
<%= form_for :blogs, url: blogs_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "lable" %>
    <%= f.submit class: "myButton" %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, class: "styled" %>
  </p>
<% end %>