<%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout" %>
<div class="header">
	<div>
	<h1>GetInfo</h1>
		<%= link_to 'Create Group', new_group_path, class: "myButton" %>
		<%= link_to 'My Post', posts_user_posts_path, class: "myButton" %>
		<%= link_to 'My Group', "#", class: "myButton" %>
	</div>
</div>

<div class="div-col">
	<% @groups.each do |group|%>
		<div class="box" >
			<% if current_user.following?(group) %>
			<h2><%= link_to group.name, group_path(group)  %></h2>
			<%= link_to "Unfollow", unfollow_group_path(group) if current_user.id != group.user_id %>
			<% else %>
			<h2><%= group.name %></h2>
			<%= link_to "Follow", follow_group_path(group) if current_user.id != group.user_id %>
			<% end %>
		</div>
	<% end %>
</div>