<div class="header_link">
	<div>
    <%= link_to 'Create Group', new_group_path, class: "myButton" %>
    <%= link_to 'My Posts', posts_user_posts_path, class: "myButton" %>
    <%= link_to 'My Groups', my_groups_path, class: "myButton" %>
  </div>
</div>


<% flash.each do |key, value| %>
		<%= content_tag :div, value, class: "flash #{key}", id: "flash_messages" %>
<% end %>

<div class="div-col">
	<% @groups.each do |group|%>
		<%= render partial: 'group', locals: {group: group} %>
	<% end %>
</div>

<script>

</script>