<div class = "group_header">
  <%= @group.name %>
</div>


<div class= "group_owner">
  Owner: <%= @user.email %>
  <%= link_to 'Edit Group name', edit_group_path(@group), class: "smallButton" if @group.user_id == current_user.id %>
</div>
<% if @group.user_id != current_user.id %>

  <% if !@group.is_member?(current_user) && !@group.is_requested_member?(current_user)%>
    <%= link_to 'Request member', group_members_path(@group.id), method: 'post', id: "request_member", remote: true, class: "myButton" %>
  <% end %>

<% end %>

<% if @group.is_requested_member?(current_user) %>
  <p class = "smallButton"> Request pending </p>
<% end %>

<% if @group.is_member?(current_user) || @group.user_id == current_user.id %>
  <%= link_to "Create Post", new_group_post_path(@group.id), class: 'myButton' %>
<% end %>

<%= link_to 'Group Members', group_members_group_path(@group), class: "myButton" if @group.user_id == current_user.id %>

<div class="read_post">
	<% @posts.each do |post| %>
		<%= render partial: 'posts/post', locals: {post: post, group: @group} %>
	<% end %>
</div>

