<div class="read_post">
	<article>
		<p>Written by: <%= @user.email %></p>
		<% if @post.user_id == current_user.id %>
		<%= link_to 'Edit', edit_group_post_path(@post.group_id, @post) %>
		<% end %>
		<p>
		  <h1><u><%= @post.title %></u></h1>
		</p>
	 
		<p class = "blog_content">
		  <%= @post.text %>
		</p>
	</article>

<%= link_to "Home", root_path, class: 'myButton' %>
</div>