<div class="read_post">
	<article>
		<p>Written by: <%= @user.email %></p>
		
		<% if @post.user_id == current_user.id %>
			<%= link_to 'Edit', edit_group_post_path(@post.group_id, @post), class: "smallButton" %>
			<%= link_to 'Delete', group_post_path(@group.id, @post), method: :delete,
	              data: { confirm: 'Are you sure?' }, class: "smallButton" %>
		<% end %>
		<p>
		  <h1><u><%= @post.title %></u></h1>
		</p>
	 
		<p class = "blog_content">
		  <%= @post.text %>
		</p>
	</article>


	<article>
		<h1> <u>Comments</u> </h1>
		<% @post.comments.each do |c| %>
			<P>
				Commente by: <%= c.user.email %>
				<%= link_to 'Delete', group_post_comment_path(@group.id, @post, c.id), method: :delete,
	              data: { confirm: 'Are you sure?' }, class: "smallButton" if current_user == c.user || current_user == @post.user %>
	    </P>
			<P><%= c.text %></P>
			<hr/>
		<% end %>
	</article>
	 <%= form_for :comment, url: group_post_comments_path(@post.group_id, @post.id) do |f| %>
	  <p>
	    <%= f.label :comment %><br>
	    <%= f.text_area :text, required: true %>
	  </p>
	  <%= f.submit %>
	 <% end %>
<%= link_to "Home", root_path, class: 'myButton' %>
</div>